{% extends "../core/base.html" %}

{% block title %}Produtos{% endblock %}
{% block content %}
  <h1 class="mb-4">Bem-vindo! a página de produtos!</h1>
  <p>Veja a lista com todos os nossos produtos</p>
  <a href="{% url 'produtos:inserir_produto' %}" class="btn btn-success mb-3">Inserir Produto</a>
  <a href="{% url 'produtos:inserir_categoria' %}" class="btn btn-secondary mb-3">Inserir Categoria</a>
  {% if itens %}
    <table class="table table-bordered table-striped">
      <tr><th>ID</th><th>Nome</th><th>Preço</th><th>Ações</th></tr>
      {% for item in itens %}

      <tr><td>{{ item.id }}</td><td>{{ item.nome }}</td><td>{{ item.preco }}</td><td>
        <a href="{% url 'produtos:detalhe' item.id %}" class="btn btn-primary">Acessar</a>
        <a href="{% url 'produtos:editar_produto' item.id %}" class="btn btn-warning">Editar</a>
      </td></tr>

      {% endfor %}
    </table>
  {% else %}
    <p><strong>Nenhum produto encontrado</strong></p>
  {% endif %}
  <br />
{% if messages %}
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 1100">
        {% for message in messages %}
        <div class="toast text-bg-success border-0" role="alert">
            <div class="d-flex">
            <div class="toast-body">
                {{ message }}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
            </div>
        </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
{% block extra_js %}
    {% if messages %}
        <script>
        document.addEventListener("DOMContentLoaded", function() {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'));
            toastElList.forEach(function(toastEl) {
                var toast = new bootstrap.Toast(toastEl, {
                    delay: 3000
                });
                toast.show();
            });
        });
        </script>
    {% endif %}
{% endblock %}