{% extends "core/base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
  <h1 class="mb-4">Bem-vindo! ao curso de Django!</h1>
  <p>Está é a página inicial do nosso projeto Django.</p>
  <p>Olá {{ nome }}, seja bem-vindo ao curso {{ curso }}!</p>
  <br />
  {% if nome %}
  <p>Usuário logado</p>
  {% else %}
  <p>Visitante</p>
  {% endif %}

  <table class="table table-bordered table-striped">
    {% for item in lista %}

    <tr><td>{{ item }}</td></tr>

    {% endfor %}
  </table>
  <br />

{% endblock %}