{% extends "core/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>
        Login
    </h2>
    <br />
    <!--<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Entrar</button>
    </form>-->
    <form method="post" class="container">
        {% csrf_token %}

        {% for field in form %}
            <div class="row mb-3 align-items-center">
                <label class="col-sm-3 col-form-label">
                    {{ field.label }}
                </label>
                <div class="col-sm-9">
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-sm-9 offset-sm-3">
                <button type="submit" class="btn btn-primary">
                    Entrar
                </button>
            </div>
        </div>
    </form>
    <!-- Mostra a mensagem de erro, se houver erro ao tentar realizar o login -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger mt-3">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}